	body
	{
		background-color:#f9f9f9
	}
	.mainContainer
	{
		margin: auto;
	}
		.mainImageContainer
		{
			 margin: auto;
			 margin-top:50px;

		}
		.imageContainer
		{
			padding:auto; 
		}
		.logoImage
		{
			width: 100px; 
		}
		.formBox1
		{
			font-family: segoe ui ;
			letter-spacing: -0.5px;
			font-weight: 150;
			font-size: 25px;
			padding-bottom: 15px;
		}
		.formBox2
		{
			padding: 20px;
			background-color:white;
		}
input {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color:#e8f0fe;
  }

		.loginForm
		{
			margin: auto;
			padding: 10px;
			line-height: 35px;
		}
		.formBox2
		{
			border: 1px solid #00000063;
			width: 250px;
			border-radius:3px;
			margin: auto;
			font-family: segoe ui;
			font-size: 15px;
		}
		.newToMaroon
		{
			margin: auto;
			border-radius:3px;
			border:1px solid #00000063;
			font-family: segoe ui ;
			width: 250px;
			padding-left:20px;
			padding-right: 20px; 
			text-align:center;
			font-size: 15px;
		}
		.mainContainer2
		{
			margin: auto;
			  box-sizing: border-box;
		}
		.submitBtn
		{
			width:100%;
			padding:10px;
			margin-top:8%;
			color:white;
			background-image:linear-gradient(-180deg,#34d058,#28a745 90%);
			border:none;
			font-family: segoe ui;
			font-weight: bold;
			cursor: pointer;
			border-radius: 3px;
		}
		.submitBtn:hover

		{
			background-image:linear-gradient(-180deg,#34d058,#28a745 10%);
		}
		.footer
		{
			text-align:center;
			margin-top:3px;

		}
		.footer a{
			text-decoration: none;
			font-family:segoe ui;
			font-weight:none;
			font-size:12px;
			padding-right:5px;
		}