		.container
		{
			background-color:#f9f9f9;
		}
		.unlist
		{
			list-style-type: none;
		}
		.navItems a
		{	
	
			display: inline-block;
			text-decoration: none;
			font-family:segoe ui;
		}
		.navItems
		{
			display: inline-block;
			height: 5vw;
			text-align: center;
			margin-right: 3px;
			
		}
		.temp
		{
			margin-right: 4px;
		}
		.temp a
		{
			padding-top:2vw;
			color: #000000;
			padding-right: 1vw;
			font-size: 1.1vw;
			font-family:segoe ui;
		}
		.temp a:hover
		{
			color:#40af19d9;

		}
		#dropImage
		{
			position: fixed;
			left:90%;
			width: 5%;
			top:3.4%;
			display: none;
		}
		#tagBox
		{
			display: none;
			float: right;
			z-index: 9;
			background-color: rgb(249, 249, 249);
			margin-top: -2%;
			width: 20vw;
			border-radius: 3%;
			border: 1px solid #dedcdc;
			opacity: 1;

		}
		.tagItem
		{
			padding-top: 9px;
		}
		.tagItem a
		{
			color:#000000;
			text-decoration: none;
			font-size: 1.6vw;
			font-family: segoe ui;
		}
		.tagList
		{
			
			list-style-type: none;
			margin-left: -20px;
		}
		.tagItem a:hover
		{
			color: red;
		}
		@media screen and (max-width: 900px)
		{
			.navItems a
			{
				display: none;
			}
			#dropImage
			{
				display: block;
			}
	
		}
		@media screen and (min-width: 900px)
		{
			#tagBox
			{
				display: none;
			}
		}
		.find_usCont
		{	

			height: 400px;
			width: 100%;
		}
		.findElseTextCont
		{
			padding-top: 5px;
		}
		.findElseText
		{
			text-decoration: none;
			font-family:segoe ui;
			text-align: center;
			font-weight: 30px;
			color: white;
			font-size: 30px;
		}
		.fbCont ,.playstoreCont, .likedinCont, .twitterCont
		{
			float: left;
			background-color:white;
			width: 70px;
			height:70px;
			border-radius: 100%; 
			margin-right:7vw ;
			margin-left:10vw ;
			display: inline;
		}
		.fbCont:hover ,.playstoreCont:hover, .likedinCont:hover, .twitterCont:hover 
		{
  			background-color: #44D62C;
  			color: green;
  			transform: scale(1.2); 
		}
		.fbImg
		{
			margin:auto; 
			padding-top:15px;
			
		}
		.imgText
		{
			color: white;
			font-size: 1vw;
			text-decoration: none;
			font-family:segoe ui;
			text-align: center;
			font-weight: 20px;

		}