<!DOCTYPE html>
<html>
{% block head %}
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>
{% endblock %}
<body onload="setTimeout(Timer, 2000)">
	{% block header %}
	<header>
		<div class="container">
			<ul class="unlist">
				<li class="navItems" style="float: left;"><img src="{{ url_for('static', filename='images/maroonLogo.png')}}" style="width: 20vw;"></li>
				<div class="dinvew" style="margin-left: 60%;">
					<li class="navItems temp"><a href="/">HOME</a></li>
					<li class="navItems temp"><a href="about">ABOUT US</a></li>
					<li class="navItems temp"><a href="#buySellPage">BUY/SELL</a></li>
					<li class="navItems temp"><a href="login">LOGIN/SIGNUP</a></li>
					<li class="navItems temp"><a href="#contactUSPage">CONTACT US</a></li>
				</div>
			</ul>
		</div>
		<div class="fixedImage">
			<img src="{{ url_for('static', filename='images/dropbox2.png')}}" id="dropImage" onClick="myFunction() ">
		</div>
		<div id="tagBox">
			<ul class="tagList">
				<li class="tagItem"><a href="#homePage">HOME</a></li>
				<li class="tagItem"><a href="#aboutUsPage">ABOUT US</a></li>
				<li class="tagItem"><a href="#buySellPage">BUY/SELL</a></li>
				<li class="tagItem"><a href="#loginSignupPage">LOGIN/SIGNUP</a></li>
				<li class="tagItem"><a href="#contactUSPage">CONTACT US</a></li>
			</ul>
		</div>
	</header>
	<div class="msg">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
				{% for message in messages %}
				<p id="msg">{{ message }}</p>
				{% endfor %}
		  {% endif %}
	   {% endwith %}
    </div>
	{% endblock %}
	{% block content %}
	{% endblock %}
	{% block footer %}
	<footer>
		<div>
			<div class="find_usCont" style="background-image: url({{ url_for('static', filename='images/find_us2.jpg')}});">
				<div class="findElseTextCont">
					<p class="findElseText">FIND US ELSEWHERE</p>
				</div>
				<ul>
					<li class="medium">
						<div class="fbCont">
							<center><img src="{{ url_for('static', filename='images/fbicon.png')}}" class="fbImg"></center>

						</div>
						<p class="imgText">FACEBOOK</p>
						<p class="imgText"><i>Follow Us on Facebook</i></p>
					</li>
					<li class="medium">
						<div class="twitterCont">
							<center><img src="{{ url_for('static', filename='images/twitter.png')}}" class="fbImg"></center>

						</div>
						<p class="imgText">TWITTER</p>
						<p class="imgText"><i>Tweet Us</i></p>
					</li>
					<li class="medium">
						<div class="likedinCont">
							<center><img src="{{ url_for('static', filename='images/linkedin.png')}}" class="fbImg"></center>

						</div>
						<p class="imgText">LIKEDIN</p>
						<p class="imgText"><i>Share your Profile</i></p>
					</li>
					<li class="medium">
						<div class="playstoreCont">
							<center><img src="{{ url_for('static', filename='images/playstore.png')}}" class="fbImg"></center>

						</div>
						<p class="imgText">PLAYSTORE</p>
						<p class="imgText"><i>Download Our App</i></p>
					</li>
				</ul>

				<p class="allrights">&#169.Maroon<i> All rights reserved</i></p>
			</div>

		</div>
	</footer>
	{% endblock %}
</body>

</html>