<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="loginFile.css">
</head>
<body>
<div class="mainContainer">
	<div class="mainImageContainer">
		<div class="imageConatiner">
			<center><img src="logoNew.png" class="logoImage"></center>
		</div>
	</div>
</div>
<div class="mainContainer2">
	<div class="loginForm">
		<form name="myForm" onsubmit="return validateForm()">
			<div class="formBox1">
				<center><span>Sign in to Maroon<span></center>
			</div>
			<div class="formBox2" style="margin-bottom: 10px;">
				<label for="loginFeild">
					Username or Email address
				</label>
				<input type="text" name="loginFeild">
				<label for="pwdFeild" >Password</label>
				<a href="forgetPwd" style="text-decoration: none;float: right;font-size: 12px;">Forgot Password?</a>
				<input type="Password" name="pwdFeild">
				<button type="submit" class="submitBtn" >Sign in</button>
			</div>
				<div class="newToMaroon">
		<p>New to Maroon? <a href="signup.html" style="text-decoration: none;">Create an account</a></p>
	</div>
		</form>
	</div>

</div>
<div class="footer">
	<a href="#terms">Terms</a>
	<a href="#privacy">Privacy</a>
	<a href="#security">Security</a>
	<a href="#contact">Contact Maroon</a>
</div>
</body>
</html>