<!DOCTYPE html>
<html>
<head>
	<title>maroon</title>
	<style type="text/css">
		.navCont
		{
			background-color: black;
		}
		.navItems
		{
			display: inline-block;
			height: 6vw;
		}
		.navItems a
		{
			text-decoration: none;
			text-align: center;
			color: white;
			font-family: sans-serif;
			padding-top: 30%;
		}
		.navItems a:hover
		{
			color: yellow;
		}
		.unList
		{
			list-style-type: none;
		}
	</style>
</head>
<body>
<div class="navCont">
	<ul class="unList">
		<div class="imgCont" style="display: inline-block;float: left;width: 6vw;">
			<li><img src="logo2.png"></li>
		</div>
		<div class="tagCont" style="display: inline-block;">
			<li class="navItems"><a href="#homePage">HOME</a></li>
			<li class="navItems"><a href="#aboutUsPage">ABOUT US</a></li>
			<li class="navItems"><a href="#buySellPage">BUY/SELL</a></li>
			<li class="navItems"><a href="#loginSignupPage">LOGIN/SIGNUP</a></li>
			<li class="navItems"><a href="#contactUSPage">CONTACT US</a></li>
		</div>
	</ul>
</div>
</body>
</html>