<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="loginFile.css">
	<script type="text/javascript" src="loginJsFile.js"></script>
</head>
<body>
<div class="mainContainer">
	<div class="mainImageContainer">
		<div class="imageConatiner">
			<center><img src="logoNew.png" class="logoImage"></center>
		</div>
	</div>
</div>
<div class="mainContainer2">
	<div class="loginForm">
		<form name="myForm" onsubmit="return validateForm()" method="post">
			<div class="formBox1">
				<center><span>Join Maroon<span></center>
			</div>
			<div class="formBox2" style="margin-bottom: 10px;">
				<label for="uName">Name</label>
				<input type="text" name="uName" required="required">
				<label for="eMail">
					Email address
				</label>
				<input type="Email" name="eMail" required="required">
				<label for="phoneNum">Mobile No.</label>
				<input type="text" name="phoneNum" required="required">
				<label for="pwdFeild" >Password</label>
				<input type="Password" name="pwdFeild" required="required">
				<button type="submit" class="submitBtn">Sign up</button>
			</div>
							<div class="newToMaroon">
		<p>Have a account? <a href="login.html" style="text-decoration: none;">Login</a></p>
	</div>
		</form>
	</div>

</div>
<div class="footer">
	<a href="#terms">Terms</a>
	<a href="#privacy">Privacy</a>
	<a href="#security">Security</a>
	<a href="#contact">Contact Maroon</a>
</div>
</body>
</html>